// Place all the styles related to the tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: white;
  position:relative;


  .tile {
    vertical-align: top;
    position: relative;
    display: inline-block;
    background-color: #ddddff;
    height: 100px;
    width: 100px;
    margin: 2px;
    padding: 10px;
  }
}

.chart {
  position:relative;
  margin: 0 auto;
  width: 600px;

  .title {
    position:absolute;
  }

  .count {
    position: absolute;
    left: 300px
  }
}