// Place all the styles related to the tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: white;
  position:relative;


  .tile {
    vertical-align: top;
    position: relative;
    display: inline-block;
    background-color: #ddddff;
    height: 80px;
    width: 80px;
    margin: 2px;
  }
}